<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="導覽列" nzIcon="bars">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <nz-icon nzType="home" nzTheme="outline" />
            <a routerLink="/welcome">首頁</a>
          </li>
          @if (!isAdmin && !isCustomer) {
          <li nz-menu-item nzMatchRouter>
            <nz-icon nzType="user" nzTheme="outline" />
            <a routerLink="/register">註冊</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <nz-icon nzType="login" nzTheme="outline" />
            <a routerLink="/login">登入</a>
          </li>
          }

          @if (isAdmin) {
          <li nz-menu-item nzMatchRouter>
            <nz-icon nzType="apartment" nzTheme="outline" />
            <a routerLink="/admin/rooms">房間</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <nz-icon nzType="pull-request" nzTheme="outline" />
            <a routerLink="/admin/reservations">預約</a>
          </li>
          <li nz-menu-item nzMatchRouter (click)="loggout()">
            <nz-icon nzType="logout" nzTheme="outline" />
            <a routerLink="/welcome">登出</a>
          </li>
          }
          @if (isCustomer){
            <li nz-menu-item nzMatchRouter>
              <nz-icon nzType="apartment" nzTheme="outline" />
              <a routerLink="/customer/rooms">房間</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <nz-icon nzType="pull-request" nzTheme="outline" />
              <a routerLink="/customer/bookings">預訂</a>
            </li>
          <li nz-menu-item nzMatchRouter (click)="loggout()">
            <nz-icon nzType="logout" nzTheme="outline" />
            <a routerLink="/welcome">登出</a>
          </li>
          }
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
