[nz-form] {
  max-width: 600px;
}

.ant-select.ant-select-in-form-item.phone-select {
  width: 80px;
}

.register-area {
  margin-bottom: 8px;
}

.container {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

nz-form-label{
  padding-right: 10px;
}
