<div class="container">
  <div class="top-bar">
    <button class="btn" nz-button nzType="primary" routerLink="/admin/post-rooms">新增房間</button>
  </div>


  <div class="card-grid">
    @for (room of rooms; track $index) {
    <nz-card [nzActions]="[actionEdit,actionDelete]">
      <nz-skeleton [nzActive]="true" [nzLoading]="false" [nzAvatar]="{size:'large'}">
        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="{{room.name}}" nzDescription="類型：{{room.type}}">
        </nz-card-meta>
        <nz-card-meta nzDescription="價格：{{room.price}}"></nz-card-meta>
      </nz-skeleton>
    </nz-card>

    <ng-template #actionEdit>
      <span nzTooltipTitle="編輯" nzTooltipPlacement="bottom" nz-tooltip nz-icon nzType="edit" nzTheme="outline" routerLink="/admin/rooms/{{room.id}}/edit"></span>
    </ng-template>

    <ng-template #actionDelete>
      <span nzTooltipTitle="刪除" nzTooltipPlacement="bottom" nz-tooltip nz-icon nzType="delete" nzTheme="outline" nzDanger (click)="showConfirmed(room.id)"></span>
    </ng-template>
    }
  </div>

  <div class="pagination">
    <nz-pagination [nzPageIndex]="current_page" [nzTotal]="total" [nzPageSize]="1"
      (nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
  </div>
</div>
